<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}BM - tree{% endblock %}</title>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>

{% block body %}

    {% block main %}{% endblock %}

{% endblock %}

</body>
</html>